body {
    margin: 0;
    background: #f5f7fa;
    /* cinza claro institucional */
}

.mapa-container {
    position: relative;
    max-width: 2000px;
    margin: auto;
}

.mapa-base {
    width: 100%;
    display: block;
    border-radius: 12px;
}

/* Estilo geral dos pontos */
.ponto {
  position: absolute;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B3C88;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  transition: transform .2s, background .2s;
}

.ponto:hover {
  transform: scale(1.15);
  background: #F2C200;
  color: #082f66;
}

.ponto svg {
  width: 20px;
  height: 20px;
}


