body {
  margin: 0;
  background: #082f66; /* azul institucional */
}

/* container do mapa */
/* container do mapa – tela cheia */
.mapa-container {
  position: relative;
  width: 100vw;        /* ocupa TODA a largura da tela */
  margin: 0;           /* remove margens */
  padding: 0;
  overflow: hidden;    /* evita scroll lateral */
}


/* mapa base em tela cheia */
.mapa-base {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;    /* REMOVE cantos arredondados */
}


/* imagem de referência (pequena, atrás dos pontos) */
.mapa-referencia.pequena {
  position: absolute;

  /* posição da mini-imagem */
  bottom: 450px;   /* canto inferior */
  right: 650px;    /* canto direito */

  width: 120px;   /* TAMANHO CONTROLADO */
  height: auto;

  pointer-events: none;

  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,.25);

  z-index: 2; /* acima do mapa, abaixo dos pontos */
}



/* pontos clicáveis */
.ponto {
  position: absolute;
  z-index: 3;

  width: 40px;
  height: 40px;

  background: rgba(255, 255, 255, 0.95); /* fundo forte */
  border: 2px solid #0B3C88;             /* contraste institucional */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #0B3C88;
  font-size: 18px;

  box-shadow:
    0 4px 10px rgba(0,0,0,.35),
    0 0 0 3px rgba(255,255,255,.6); /* halo branco */

  cursor: pointer;
  transition: transform .2s ease, background .2s ease;
}


.ponto:hover {
  transform: scale(1.15);
  background: #F2C200;
}

/* ícone SVG */
.ponto img,
.ponto svg {
  width: 20px;
  height: 20px;
}


/* ponto com imagem */
.ponto-imagem {
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-decoration: none;
  
}



.ponto-imagem img {
  width: 120px;
  height: auto;

  border-radius: 50%;   /* ← SÓ ISSO */
  border: none;
  background: transparent;

  transition: transform .2s, box-shadow .2s;
}

.ponto-imagem:hover img {
  transform: scale(1.04);
}

/* MOBILE – ajustes dos pontos */
@media (max-width: 768px) {

  .ponto {
    width: 26px;
    height: 26px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }

  .ponto img,
  .ponto svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 768px) {

  .ponto-imagem img {
    width: 32px; /* antes era 120px */
    box-shadow: 0 4px 10px rgba(0,0,0,.22);
  }

  .ponto-imagem:hover img {
    transform: scale(1.04);
  }
}
